.venv/
venv/
__pycache__/
*.tar.zst
medical_db/
.vscode/
# Python 缓存
__pycache__/
*.pyc

# 数据库文件
*.db
medical_db/

# 环境配置文件 
.env

user_data/
user_profiles/
hitl_reviews/

# 忽略 data 文件夹下的所有内容
data/*

# 但是！不忽略 .gitkeep 文件（为了保留文件夹结构）
!data/.gitkeep
